.jasigWeatherPortlet .location {
    padding-bottom: 1em !important;
}

.jasigWeatherPortlet img#firstimage
{
    top: 30% !important;
    left: 1.5em !important;
}

.jasigWeatherPortlet img#image
{
    top: 30% !important;
    left: 1.5em !important;
}

.jasigWeatherPortlet div#texty
{
	position: absolute !important;
    top: 1em !important;
}



.jasigWeatherPortlet div#content
{
	margin:10px;
}

.jasigWeatherPortlet div#extras
{
	font-size:16px;
}

