<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- Author: Dustin Schultz | Version: $Id$ -->
	<!-- ========================= RESOURCE DEFINITIONS ========================= -->
	<context:annotation-config/>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>										
	</bean>
	
	<!-- ========================= PORTLET SPECIFIC DEFINITIONS ========================= -->
	<!-- Default View Resolver -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="cache" value="true" />
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- Default ExceptionHandler 
	<bean id="defaultExceptionHandlerTemplate" class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver">
    <property name="order" value="10"/>
		<property name="defaultErrorView" value="error"/>
		<property name="exceptionMappings">
			<props>
				<prop key="javax.portlet.PortletSecurityException">notAuthorized</prop>
				<prop key="javax.portlet.UnavailableException">unavailable</prop>
				<prop key="java.lang.RuntimeException">error</prop>
			</props>
		</property>  
	</bean>
	-->
	
	<!-- ========================= DAO Defenitions ============================ -->
	<bean id="weatherDao" class="org.jasig.portlet.weather.dao.accuweather.WeatherDaoImpl"/>

	<!-- ========================= SERVICE DEFENITIONS ========================= -->
	<bean id="weatherService" class="org.jasig.portlet.weather.service.WeatherServiceImpl"/>

</beans>